#side {
    grid-row: 1 / span 2;
    /* poora left side cover karega */
    grid-column: 1 / span 2;
    height: 110vh;
    width: 430px;
    border: none;
    /* border: 2px solid red; */
}

#desktopmenu {
    /* border: 2px greenyellow solid; */
    border: none;
    height: 83vh;
    position: relative;
    top:50px
}
#logo span {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
}
#lout {
    margin-right: 10px;
    /* border: 1px solid white; */

}

#logouttt {
  width: 320px;
  position: relative;
  top: 20px;
  gap: 30px;

}



#lingbtn:hover {
  background-color: #000000;
  padding: 10px;
  border-radius: 20px;
  
}

#dmenu a:hover {
    background-color: #000000;
    padding: 10px;
    border-radius: 20px;
    width: 320px;


}

#dmenu {
    position: relative;
    top: 20px;
    gap: 30px;
    left: 10px;
    width: 340px
}



#meow {
    margin-top: 30px;
}

#lingbtn:hover {
    /* background-color: #000000; padding: 10px; */

    position: relative;
    bottom: 20px;
    margin-bottom: 30px;
    background-color: #000000;
    width: 320px;
    /* width: 320px; */ 
}