.ai-container{
  margin-top: 40px;

}
.h-screen{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image:
    radial-gradient(circle, rgba(180, 190, 210, 0.3) 2px, transparent 1px);
  background-size: 18px 18px; 
}
