/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

*:focus,
*:focus-visible,
#loginp:focus,
textarea:focus,
select:focus {
  border: none !important;
  outline: none !important;
}

#loginp:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#loginp {
  background-color: transparent;
  border: none;
  /* border-bottom: 2px solid #ffffff; */
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

*:focus,
*:focus-visible,
#reginp:focus,
textarea:focus,
select:focus {
  border: none !important;
  outline: none !important;
}

#reginp:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#reginp {
  background-color: transparent;
  border: none;
  /* border-bottom: 2px solid #ffffff; */
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.cht{
  position: fixed;
  left: 93%;
  top: 85%;
  font-size: 68px;
  color: rgb(31, 30, 30);
  cursor: pointer;
  z-index: 10000;
}
